
 body{
    background-color: rgb(224, 187, 139);
 }

 #logo3{
    width: 90px;
    border-radius: 10px;
 }


nav{
    width: 1500px;
    height: 20px;
    background-color: rgb(221, 204, 156);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 35px;
    padding: 50px;
}

nav a:hover{
         background-color: rgb(92, 72, 72);

}

nav ul{
    
    
    display: grid;
    grid-template-columns: repeat(5,300px);
    grid-template-rows: auto;
    

}
li{
    
    padding-inline: 10px;
    display: block;
    float: left;
}

header{
    background-image: url(/img/imagen\ central.jpeg);
    width: 1300px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    background-position:center ;
    background-size: cover;;
    border-radius: 30px;
}


ul a{
    margin: 50px;
    font-size: large;
}





.formulario{
    width: 1200px;
    background-color: rgb(252, 115, 115);
    color: beige;
    padding: 30px;
    margin: auto;
    margin-top: 300px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo{
    font-size: 20px;
    margin-bottom: 25px;
    font-style: oblique;
    
}

.controles{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.grupo{
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.radio{
    margin-bottom: 10px;
    margin-left: 25px;
}

.boton{
    width: 150px;
    padding: 8px;
    margin-top: 10px;
    
}


footer{
    width: 1500;
    height: 120px;
    background-color: rgba(20, 10, 17, 0.466);
    border-radius: 30px;
    margin: auto;
    margin-top: 750px;
    padding: 60px;
    text-align: justify;

}

footer a{
   margin-left: 40px;
   
   
}

@media(max-width:868px){
    nav{
        width: 1500px;
        height: 80px;
        background-color: rgb(221, 204, 156);
        margin: auto;
        border-radius: 10px;
        margin-top: 10px;
        padding-right: 35px;
        padding: 50px;
    }


    nav ul{
    
    
        display: grid;
        grid-template-columns: repeat(1,300px);
        grid-template-rows: auto;
        
    
    }
    header{
        background-image: url(/img/imagen\ central.jpeg);
        width: 700px;
        height: 600px;
        margin: auto;
        margin-top: 30px;
        background-position:center ;
        background-size: cover;;
        border-radius: 30px;
    }
    .formulario{
        width: 700px;
        background-color: rgb(230, 161, 35);
        color: beige;
        padding: 30px;
        margin: auto;
        margin-top: 300px;
        text-align: center;
        border-radius: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}