
#logo1{
    width: 90px;
    border-radius: 10px;
}



h2{
    text-align: center;

}

p{
    text-align: center;
    font-size: 20PX;
}


 div img{
    
    margin: 150px;

}

header{
    width: 1600px;
    height: 500px;
    margin: 50px auto;
    border-radius: 30px;
    background-color: rgb(182, 166, 147);
    background-repeat: no-repeat;
    background-position: center;
    animation-name: abanner;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    
}


@keyframes abanner{
    0%{
    background-image: url(/img/imagen\ central.jpeg); 
    background-size: cover;
    background-position: center;
 
    }
 
    100%{
     background-image: url(/img/logo-diamons-glay.png.ico); 
     background-size: cover;
     background-position: center;
 
    }
}


li{
    
    padding-inline: 10px;
    display: block;
    float: left;
}


body{
    background-color: rgb(224, 213, 199);
}

.imagen1 {
   width: 700px;
   height: 400px;
   margin: 2%;
   margin-top: 10px;

}





img{
    border-radius: 20px;
    margin-right: 40px;
} 





.imagen1 img{
    height: 450px;
    display: block;
    
    

}









nav{
    width: 1500px;
    height: 20px;
    background-color: rgb(206, 186, 131);
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 35px;
    padding: 50px;
}

nav ul{
    
    display: grid;
    grid-template-columns: repeat(5,280px);
    grid-template-rows: auto;
    
}


nav a:hover{
         background-color: rgb(92, 72, 72);

}

ul a{
    margin: 60px;
    font-size: large;
}
.figuras{
    display: grid;
    grid-template-columns: repeat(3,200fr);
    gap: 10px;

}

footer{
 width: 1600px;
 background-color: rgb(59, 49, 56);
 border-radius: 30px 30px;
 margin: 0px;
 padding: 10px;
 margin: auto;
 


}

footer a img {
    width: 50px;
    
    margin-left:40px
    
    
 }



@media(max-width:868px){
    
   
nav{
    width: 1000px;
    height: 80px;
    background-color: rgb(206, 186, 131);
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 35px;
    padding: 50px;
}


    nav ul  {

        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(1,400px);
        grid-template-rows: auto;

    }
    header{
        width: 800px;
        height: 500px;
        margin: 50px auto;
        border-radius: 30px;
        background-color: rgb(182, 166, 147);
        background-repeat: no-repeat;
        background-position: center;
        animation-name: abanner;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
    }

    .figuras{
        display: grid;
        grid-template-columns: repeat(1,200px);
        gap: 10px;
    
    }

    footer{
        display: grid;
        grid-template-columns: repeat(1,200px);
        gap: 10px;
    
    }
    


}